:root{
    --spoti-header-bg: #080b12;
    --spoti-content-bg: #141922;
    --spoti-sidebar-bg: #000000;
    --spoti-bottom-bg: #282828;
    --spoti-content-nav-font: #75787c;
    --spoti-sidebar-font: #a3a3a3;
    --spoti-underline: #adff2f;
    --spoti-white: #fdfdfd;
    --spoti-descriptions: #7a7c81;
}

/* #region commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

/* #endregion commons */

/* #region debug */

#debug *{
    border: 1px dashed;
}

#debug .top{
    background-color: red;
}

#debug .sidebar{
    background-color: blue;
}

#debug .content{
    background-color: yellow;
}

#debug .bottom{
    background-color: green;
}

/* #endregion debug */

/* #region utilities */

.sidebar{
    width: 230px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--spoti-sidebar-bg);
    flex-shrink: 0;

    @media screen and (max-width: 600px) {
        width: 60px;
        
    }
}

.top{
    height: calc(100% - 90px);
}

.content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--spoti-content-bg);
    flex-direction: column;
    overflow-y: auto;

    @media screen and (max-width: 600px){
    width: calc(100% - 60px);

    }
}

.bottom{
    height: 90px;
    background-color: var(--spoti-bottom-bg);
    justify-content: space-between;
}

.container{
    width: 95%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-2{
    width: calc((100% / 12) *2);
}

[class^="col"] {
    padding: 1rem;
}

.title-content{
    color: var(--spoti-white);
}

.description-title{
    color: var(--spoti-descriptions);
}

img{
    max-width: 100%;
}

/* #endregion utilities */

/* #region flex */

.d-flex{
    display: flex;
}

/* #endregion flex */

/* #region sidebar */

.sidebar{
    color: var(--spoti-sidebar-font);
    overflow: hidden;

    .logo{
        height: 90px;
        padding: 1rem;

        img{
            width: 130px;
        }
    }

    .up-sidebar{

        hr{
            display: inline-block;
            height: 30px;
            float: left;
            margin-top: 0.5rem;
            border: 2px solid var(--spoti-underline);

            @media screen and (max-width: 600px){
                margin-top: 2rem;
            }
        }
    }

    img{
        width: 25px;
    }

    .nav-sidebar{
        padding-left: 1rem;
        padding-bottom: 1rem;
        flex-direction: column;

        a{
            text-decoration: none;
            color: var(--spoti-sidebar-font);
            padding: 0.5rem 0;

            div{
                padding-left: 0.5rem;
                display: inline-block;
                vertical-align: super;
                font-size: 20px;
            }

            img{
                filter: brightness(50%);
            }

        }

        a:hover{
            filter: brightness(150%);
        }
    }


    .playlist{
        padding-left: 1rem;

        div{
            font-size: 20px;
        }

        div:hover{
            filter: brightness(150%);
        }

        i{
            background-color: lightgray;
            color: var(--spoti-sidebar-bg);
            padding: 0.5rem;
            filter: brightness(50%);
        }

        h3{
            color: white;
            padding-bottom: 0.5rem;
            font-size: 20px;
        }

        .add-playlist{

            div{
                display: inline-block;
                padding-left: 0.5rem;   
            }  
        }

        div{
            padding: 0.5rem 0;
        }
    }

    .down-sidebar{
        padding: 0.5rem 1rem;

        .install-username{

            hr{
                margin: 0.5rem 0;
            }

            div{
                display: inline-block;
                vertical-align: super;
                font-size: 20px;
                padding-left: 0.5rem;
            }

            #user{
                height: 25px;
                background-color: lightgray;
                border-radius: 50%;
            }

            .user{
                color: white;
                font-weight: bold;
            }

            .install{
                padding-left: 0;
            }

            div.install{
                vertical-align: top;
            }

            img.install{
                filter: brightness(50%);
            }

            .install:hover{
                filter: brightness(150%);
            }

        }

    }

    @media screen and (max-width: 600px){
        .logo{
            height: 30px;

            .logo-lg{
                display: none;
            }
        }
        
        .nav-sidebar{
            padding: 1.5rem 0rem;
            a{
                text-align: center;

                div{
                    display: none;
                }
            }
        }

        .playlist{
            display: none;
        }

        .down-sidebar{
            padding: 0;

            .install-username{
                div, hr{
                    display: none;
                }

                img{
                    margin: 1rem 1rem;
                }
            }
        }
         
    }

    @media screen and (min-width: 601px){
        
        .logo-sm{
            display: none;
        }

    }
}

/* #endregion sidebar */

/* #region content*/

.content{

    .title-content{
        font-size: 30px;
        padding-bottom: 1rem;
    }
    
    .description{
        text-align: center;
    
        .album{
            color: var(--spoti-white);
            font-weight: bold;
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            font-size: 20px;
        }
        .creator{
            color: var(--spoti-sidebar-font);
            font-size: 20px;
        }
    }

    i{
        font-size: 40px;
        height: 40px;
        aspect-ratio: 1/1;
    }
    
    .image{
        position: relative;
    
        &:hover{
            img{
                opacity: 0.2;
            }
    
            i{
                opacity: 1;
            }
        }
    
        img{
            transition: 0.3s;
            aspect-ratio: 1/1;
            display: block;
        }
    
        i{
            transition: 0.3s;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }

    @media screen and (max-width: 1395px) {
        .col-3-md{
            width: calc((100% / 12) *3);
        }
        
    }
    
    @media screen and (max-width: 1006px) {
        .col-4-s{
            width: calc((100% / 12) *4);
        }
    }
    
    @media screen and (max-width: 812px) {
        .col-6-xs{
            width: calc((100% / 12) *6);
            
        }
    }
    
    @media screen and (max-width: 448px) {
        .col-12-xxs{
            width: 100%;
        }
    }
}


/* #region header */

header{
    width: 100%;
    min-height: 90px;
    background-color: var(--spoti-header-bg);
    justify-content: flex-end;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    div{
        color: var(--spoti-white);
        text-transform: uppercase;
        font-size: 20px;
        border: 1px solid var(--spoti-white);
        border-radius: 5rem;
        padding: 1rem 3rem;
        height: 50%;
        margin-top: auto;
        margin-right: 1rem;
        align-content: center;
        margin-top: 1rem;
    }

    div:hover{
        transform: scale(1.1);
    }
}

/* #endregion header */

/* #region nav */

.nav{
    
    .nav-content{
        padding: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    
        a{
            padding: 0 1rem;
            text-decoration: none;
            color: var(--spoti-content-nav-font);
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
        }

        a:hover{
            filter: brightness(150%);
        }

        .underline {
            text-decoration: underline;
            text-decoration-color: var(--spoti-underline);
          }

        @media screen and (max-width: 1165px){
            justify-content: space-evenly;
            
            a{
                padding: 0 1rem 3rem;
            }
          }

        @media screen and (max-width: 601px){
            justify-content: space-evenly;

            a{
                padding: 0 0 3rem;
                font-size: 18px;
            }
        } 
    }
}


/* #endregion nav */

/* #region recently played */

.recently-played{
    padding: 1rem 0;
}

/* #endregion recently played */

/* #region create for */

.create-for{
    padding: 1rem 0;
}

/* #endregion create for */

/* #region popular artists */

.popular-artists{
    padding: 1rem 0;

    .description-title{
        color: var(--spoti-sidebar-font);
        font-size: 15px;
        font-weight: bold;
    }

    img{
        border-radius: 50%;
        width: 320px;
        height: auto;
    }

}

/* #endregion popular artists */

/* #endregion content */

/* #region bottom */

.bottom{
    color: var(--spoti-white);
    padding: 1rem 0;
}

/* #region left functions */

.left-functions{
    padding: 1rem;
    align-items: center;

    .img-listening-song{
        width: 40px;
    }

    .title-song-bottom{
        padding-left: 1rem;
        
        .author-song{
            color: var(--spoti-descriptions);
        }
    }

    .heart{
        padding-left: 1.5rem;
        padding-right: 1rem;
    }

    .heart, .folder{
        color: var(--spoti-descriptions);
    }

    .author-song, .heart, .folder{
        
        &:hover{
            filter: brightness(150%);
        }
    }


}

/* #endregion left functions */

/* #region middle functions */

.mid-functions{
    flex-direction: column;
    justify-content: space-evenly;

    .upper-functions{
        justify-content: space-evenly;
        padding-bottom: 1rem;
        margin: 0 6rem;

        div{
            padding: 0 0.5rem;
            
            i{
                font-size: 20px;
            }

            &:hover{
                transform: scale(1.3);
            }
        }       
    }  
    .bottom-functions{
        justify-content: space-between;
        align-items: center;

        .listened-bar{
            position: relative;
            height: 5px;
            width: 400px;
            background-color: var(--spoti-content-nav-font);

            .left-bar{
                height: 5px;
                width: 100px;
                background-color: var(--spoti-sidebar-font);
            }

            
            .point{
                display: none;
                background-color: var(--spoti-white);
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
            
            .left-bar:hover{
                background-color: var(--spoti-underline);

                .point{
                    display: block;
                    position: absolute;
                    top: -2.5px;
                    left: 95px;
                }
            }
        }

        .left-time, .right-time{
            padding: 0 2.5rem;
        }
    }
}

/* #endregion middle functions */

/* #region right functions */

.right-functions{
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding-right: 0.5rem;
}

/* #endregion right functions */

/* #endregion bottom */