:root{
    --spoti-header-bg: #080b12;
    --spoti-content-bg: #141922;
    --spoti-sidebar-bg: #000000;
    --spoti-bottom-bg: #282828;
    --spoti-content-nav-font: #75787c;
    --spoti-sidebar-font: #a3a3a3;
    --spoti-underline: #adff2f;
    --spoti-white: #fdfdfd;
    --spoti-descriptions: #7a7c81;
}

/* #region commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: "Lato", sans-serif;
}

/* #endregion commons */

/* #region debug */

#debug *{
    border: 1px dashed;
}

#debug .top{
    background-color: red;
}

#debug .sidebar{
    background-color: blue;
}

#debug .content{
    background-color: yellow;
}

#debug .bottom{
    background-color: green;
}

/* #endregion debug */

/* #region utilities */

.sidebar{
    width: 230px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--spoti-sidebar-bg);
    flex-shrink: 0;

    @media screen and (max-width: 600px) {
        width: 60px;
        
    }
}

.top{
    height: calc(100% - 90px);
}

.content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--spoti-content-bg);
    flex-direction: column;
    overflow-y: auto;

    @media screen and (max-width: 600px){
    width: calc(100% - 60px);

    }
}

.bottom{
    height: 90px;
    background-color: var(--spoti-bottom-bg);
    justify-content: space-between;
}

.container{
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
}

.col-2{
    width: calc((100% / 12) *2);
}

[class^="col"] {
    padding: 1rem;
}

.title-content{
    color: var(--spoti-white);
}

.description-title{
    color: var(--spoti-descriptions);
}

img{
    max-width: 100%;
}

/* #endregion utilities */

/* #region flex */

.d-flex{
    display: flex;
}

/* #endregion flex */

/* #region sidebar */

.sidebar{
    color: var(--spoti-sidebar-font);

    .logo{
        height: 90px;
        padding: 1rem;

        img{
            width: 130px;
        }
    }

    .up-sidebar{

        hr{
            display: inline-block;
            height: 30px;
            float: left;
            margin-top: 1rem;
            border: 2px solid var(--spoti-underline);
        }
    }

    img{
        width: 25px;
    }

    .nav-sidebar{
        padding-left: 1rem;
        padding-bottom: 1rem;
        flex-direction: column;

        a{
            text-decoration: none;
            color: var(--spoti-sidebar-font);
            padding: 0.5rem 0;

            div{
                padding-left: 0.5rem;
                display: inline-block;
                vertical-align: super;
                font-size: 25px;
            }

            img{
                filter: brightness(50%);
            }

        }

        a:hover{
            filter: brightness(150%);
        }
    }


    .playlist{
        padding-left: 1rem;

        div{
            font-size: 25px;
        }

        div:hover{
            filter: brightness(150%);
        }

        i{
            background-color: lightgray;
            color: var(--spoti-sidebar-bg);
            padding: 0.5rem;
            filter: brightness(50%);
        }

        h3{
            color: white;
            padding-bottom: 0.5rem;
            font-size: 25px;
        }

        .add-playlist{

            div{
                display: inline-block;
                padding-left: 0.5rem;
                
            }
            
        }

        div{
            padding: 0.5rem 0;
        }
    }

    .down-sidebar{
        padding: 0.5rem 1rem;

        .install-username{

            hr{
                margin: 0.5rem 0;
            }

            div{
                display: inline-block;
                vertical-align: super;
                font-size: 22px;
                padding-left: 0.5rem;
            }

            #user{
                height: 25px;
                background-color: lightgray;
                border-radius: 50%;
            }

            .user{
                color: white;
                font-weight: bold;
            }

            .install{
                padding-left: 0;
            }

            div.install{
                vertical-align: top;
            }

            img.install{
                filter: brightness(50%);
            }

            .install:hover{
                filter: brightness(150%);
            }

        }

    }

    @media screen and (max-width: 600px){
        .logo{
            height: 30px;

            .logo-lg{
                display: none;
            }
        }
        
        .nav-sidebar{
            padding: 1.5rem 0rem;
            a{
                text-align: center;

                div{
                    display: none;
                }
            }
        }

        .playlist{
            display: none;
        }

        .down-sidebar{
            padding: 0;

            .install-username{
                div, hr{
                    display: none;
                }

                img{
                    margin: 1rem 1rem;
                }
            }
        }
         
    }

    @media screen and (min-width: 601px){
        
        .logo-sm{
            display: none;
        }

    }
}

/* #endregion sidebar */

/* #region content*/

/* #region header */

header{
    width: 100%;
    min-height: 90px;
    background-color: var(--spoti-header-bg);
    justify-content: flex-end;

    div{
        color: white;
        text-transform: uppercase;
        font-size: 25px;
        border: 1px solid white;
        border-radius: 5rem;
        padding: 1rem 3rem;
        height: 50%;
        margin-top: auto;
        margin-right: 1rem;
        align-content: center;
        margin-top: 1rem;
    }

    div:hover{
        transform: scale(1.1);
    }
}

/* #endregion header */

/* #region nav */

.nav{
    
    .nav-content{
        padding: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    
        a{
            padding: 0 2rem;
            text-decoration: none;
            color: var(--spoti-content-nav-font);
            text-transform: uppercase;
            font-size: 20px;
        }

        a:hover{
            filter: brightness(150%);
        }

        .underline {
            text-decoration: underline;
            text-decoration-color: var(--spoti-underline);
          }

        @media screen and (max-width: 1165px){
            justify-content: space-evenly;
            
            a{
                padding: 0 1rem 3rem;
            }
          }

        @media screen and (max-width: 601px){
            justify-content: space-evenly;

            a{
                padding: 0 0 3rem;
                font-size: 18px;
            }
        } 
    }
}


/* #endregion nav */


/* #region recently played */

.recently-played{
    padding: 1rem 0;
}

/* #endregion recently played */

/* #region create for */

.create-for{
    padding: 1rem 0;
}

/* #endregion create for */

/* #region popular artists */

.popular-artists{
    padding: 1rem 0;
}

/* #endregion popular artists */

/* #endregion content */

/* #region bottom */

.bottom{
    color: var(--spoti-white);
    padding: 1rem 0;
}

/* #region left functions */

.left-functions{
    padding-left: 0.5rem;

    .author-song{
        color: var(--spoti-descriptions);
    }
}

/* #endregion left functions */

/* #region middle functions */

.mid-functions{
    flex-direction: column;
    justify-content: space-evenly;

    .upper-functions{
        justify-content: space-evenly;
    }  
    .bottom-functions{
        justify-content: space-between;
    }
}

/* #endregion middle functions */

/* #region right functions */

.right-functions{
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding-right: 0.5rem;
}

/* #endregion right functions */

/* #endregion bottom */